<div class="container" >
	<h1>Home</h1>
	<div class="center-block" >
		<h3>Welcome to EmpTestStats! :)</h3>
		</br>
		<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button type="button" class="btn btn-info" ui-sref="company">View Companies</button>
				</div>   
		</div>
		</br>
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" class="btn btn-info" ui-sref="test">View Tests</button>
			</div>
		</div>
	</div>
</div>
