<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center ">
            <div>
                <h1>My Site</h1>
            </div>
            <h3>Welcome to EmpTestStats</h3>
            <form class="m-t" role="form" action="#">
                <div class="form-group">
                    <input ng-model="user.username" type="text" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required>
                </div>
                <button class="btn btn-primary btn-block m-b" ng-click="login()">Login</button>            
            </form>          
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Error</h2>
      </div>
      <div class="modal-body">
      Incorrect Username or Password
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>