<div class="container" >
	<header>
		<h2>All Tests </h2>
	</header>
	</br>
	<form class="col-xs-6">
		<div class="form-group" class="col-xs-8">
			<div class="input-group" class="col-xs-4">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input type="text" name="daterange" class="form-control" placeholder="Filter By Date Range" ng-model="start"> 
			</div> 
		</div>
	</form>
	<table class = "table">
		<thead>
			<tr>
				<th><a ng-click="sortType = 'tst.createdOn'; sortReverse = 	!sortReverse">
					Date 
					<span ng-show="sortType == 'tst.createdOn' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'tst.createdOn' && sortReverse" class="fa fa-caret-up"></span></a>
				</th>
				<th>Name</th>
				<th>Result</th>
				<th>&nbsp </th>
				<th>&nbsp </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "tst in tst  | orderBy:sortType:sortReverse ">
				<td>{{tst.createdOn | date }}</td>
				<td>{{tst.name}}</td>
				<td>{{tst.result}}</td>
				<td>
					<button class="btn btn-link" ng-click= "empdetails(tst.employee)">Edit/View Employee Details
				</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-default pull-right" ng-click="back();">Back</button> 
</div>
